
.btn-primary {
    padding: 0.5rem 2rem;
    background-color: transparent;
    border-color: white;
    color: white;
    transition-property: all;
    transition-duration: 0.2s;
}

.btn-primary:hover {
    border-color: white;
    color: white;
    background-color: #0a0c12;
    transform: scale(1.2);
}

.btn-primary:active {
    color: inherit !important;
    background-color: inherit !important;
    border-color: inherit !important;
}
