body {    
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    scroll-behavior: smooth;
}

#landing {
    background-image: url("/images/landing.jpg");
    background-size: cover;
    color: white;
    display: flex;
    
}
#landing:before {
    content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to bottom right,#000000,#2c2827);
        opacity: .6; 
}

h1 {
    text-transform: uppercase;
    font-weight: bolder;
}

.cover-screen {
    width: 100%;
    min-height: 100vh;
}

.highlight {
    font-size: 150%;
    color: #cc0000;
}

a {
    color: inherit;
    text-decoration: inherit;
    background-color: inherit;
}

a:hover {
    color: inherit;
    text-decoration: inherit;
}

a:focus {
    outline: inherit;           
}

#skills ion-icon {
    font-size: 4rem;
    color: white;
    margin: auto;
}

.badage {
    margin-top: 2.5rem;
    width: 128px;
    height: 128px;
    border-radius: 50%;
    animation-delay: 2s;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

.hide-anim {
    visibility: hidden;
}

#scrolldown {
    margin: auto;
    
}



.left-rounded {
    border-radius: 10px 0px 0px 10px;
}

.right-rounded {
    border-radius: 0px 10px 10px 0px;
}

.card img {
    cursor: pointer;
}

.large-text { 
    font-size: 140%;
    font-weight: 500;
}