body,
html {
	font-family: "Montserrat", sans-serif;
	background-color: white(22, 20, 20);
}

.nav-link {
	color: #fff;
}

.nav-link:hover {
	color: #383838;
}

#about {
	background: url("/img/background.jpg");
	background-repeat: no-repeat;
	background-position: top;

	padding-top: 150px;
	padding-bottom: 150px;
	a {
		color: white;
	}
	a:hover {
		color: rgb(121, 121, 121);
	}
}

.black-color {
	color: black !important;
}


footer {
	a:hover{
		color: transparent;
	}
	.fab:hover, .fas:hover {
		color: gray !important;
	}
}