body {    
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

#landing {
    background-image: url("/images/landing.jpg");
    background-size: cover;
    color: white;
    display: flex;
    width: 100%;
}
#landing:before {
    content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to bottom right,#000000,#2c2827);
        opacity: .6; 
}

ion-icon {
    font-size: 64px;
}

.btn-icon {
    color: white;
    vertical-align: unset;
}
.btn-icon:hover {
    color:#212529 !important;
}

#icon1 {
    animation-delay: 1s;
}
#icon2 {
    animation-delay: 1.3s;
}
#icon3 {
    animation-delay: 1.6s;
}